
/*.env

*.aps
*.class
*.db
*.eto
*.log
*.ncb
*.opendb
*.opensdf
*.pyc
*.sdf
*.suo
*.user
*.vcproj.*.user
*.vcxproj.user
*~
*.rules
*.rpm
*.pkgname
.#*

.git
.idea

Debug
Profile
Release

x64
x86

install
gridinstall
xenvinstall

/include
/bin
jar
/lib
/logs
obj
/pkg
/pkgdir
venv
xing
xixvar_package
tmp_java_src

stdcpp.txt

# Legacy ignores
.custom_opt_build
.custom_debug_build
depends.mk

.ipynb_checkpoints/